@charset "UTF-8";
.box {
	border: 1px solid #000;
	padding-top: 0em;
	padding-right: 1em;
	padding-bottom: 0em;
	padding-left: 1em;
	background-color: white;
	margin-top: 1em;
}
body {
	background-color: grey;
}
.gridContainer {
	background-color: thistle;
	padding:1em;
}
#header {
	margin:0;
}
#footer {
	text-align:center;
	padding:1em;
}
